body {
    display:flex;
    align-content:center;
}

.sidebar {
    display:flex;
    align-content:center;
    flex-direction:column;
    justify-content:center;
}

.settings {
    display:flex;
    flex-direction:column;
}

.grid-container {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
    margin: 2rem;
    border: 2px solid black;
}

.reset {
    
}